@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-sora), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sora), sans-serif;
}

.mono {
  font-family: var(--font-inconsolata), monospace;
}

/* Oculta scrollbar en navegadores modernos */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
