@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-sora), sans-serif;
}

body {
  font-family: var(--font-sora), sans-serif;
}

.mono {
  font-family: var(--font-inconsolata), monospace;
}
